@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
}

.top-bar {
    height: 44px;
    background: #d6a97b;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.left-bar {
    display: flex;
    gap: 4rem;
    font-size: smaller;
}

i {
    font-size: 20px;
}

.bar-phone {
    display: flex;
    align-items: center;
}

.bar-icons {
    background: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



.right-bar {
    display: flex;
    gap: 1rem;
}

nav {
    padding: 0 8%;
    height: 13vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.logo {
    height: 2.5rem;
}

.logo>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.search-box {}

.search-child {
    display: flex;
    align-items: center;
    height: 2.2rem;
    border: 1px solid #FF4C11;
    border-radius: 1.5rem;
    overflow: hidden;
}

#search {
    height: 100%;
    width: 25rem;
    border: none;
    padding-left: 1rem;
}

#search-btn {
    border: none;
    background: #FF4C11;
    height: 100%;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

input:focus {
    outline: none;
}

.utility {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: smaller;
}

.cart {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cart>div {
    position: relative;
}

.cart-pannel {
    position: absolute;
    background: #fff;
    top: 20%;
    right: 7%;
    padding: 1rem;
    border: 1px solid #c2c0c0;
    z-index: 100;
    display: none;
    transition: all .5s;
    /* display: flex; */
    /* flex-direction: column; */

}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid gainsboro;
}

.cart-item>div:first-child {
    height: 50px;
    width: 50px;
}

.cart-item>div>div:first-child {
    font-size: 12px;
}

.cart-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-item>div:nth-child(2)>div+div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 12px;

}

.cart-item>div:nth-child(2)>div+div>div:first-child,
.cart-item>div:nth-child(2)>div+div>div:nth-child(3) {
    background: #5a5a5a;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item>div:nth-child(2)>div+div>div:nth-child(3) {
    background: #FF4C11;
}

.cart-pannel button {
    margin: auto;
    border: 0;
    background: #FFAC01;
    color: #fff;
    padding: 6px 10px;
    border-radius: 2rem;
    margin-top: 1rem;

}

.count {
    position: absolute;
    top: -30%;
    left: 50%;
    background: #FF4C11;
    border-radius: 50%;
    color: #fff;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

#sub-nav {
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    font-size: smaller;
}

#sub-nav>* {
    cursor: pointer;
}

#sub-nav>.menu:first-child {
    display: flex;
    align-items: center;

}

#sub-nav>.menu:first-child>i {
    font-size: 24px;
}

.hero-container {
    position: relative;
    margin-bottom: 10rem;
}

.hero-img>img {
    width: 100%;
    object-fit: cover;
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 40%;
    transform: translate(-10%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-title h1 {
    font-size: 40px;
    font-weight: 500;
}

.hero-title p {
    font-size: 20px;
    color: #5a5a5a;
}

.hero-title button {
    border: 0;
    background: #fff;
    color: #FF4C11;
    padding: 12px 22px;
    border-radius: 2rem;
    font-weight: bold;
    transition: all .3s;
}

.hero-title button:hover {
    background: #FF4C11;
    color: #fff;

}

.service-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    position: absolute;
    bottom: -20%;
    /* transform: translateY(-25%); */
    /* background: #d6a97b; */
}

.service>div {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin: auto;
    border: 4px solid #FFAC01;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #fff;
}

.service img {
    width: 100%;
    object-fit: cover;
}

.service h4 {
    font-size: 14px;
}

.service p {
    font-size: 12px;
    color: #5a5a5a;
}

.sale-container {
    padding: 0 4%;
    margin-bottom: 2rem;
}

.item-list {
    padding: 0 4%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 16px;
    position: relative;
}

.item {
    height: 360px;
    width: 200px;
    border: 1px solid gainsboro;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.product-img {
    height: 200px;
}

.item>div+div {
    font-size: 14px;
}

.item>div>img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.item button {
    padding: 8px 14px;
    border-radius: 2rem;
    border: 0;
    font-weight: bold;
    color: #fff;
    background: #FFAC01;
    width: 70%;
}

.bx-chevron-left {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 48px;
    transform: translateY(-50%);
}

.bx-chevron-right {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 48px;
    transform: translateY(-50%);
}

.indicator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.indicator {
    height: 12px;
    width: 12px;
    background: #cccbcb;
    border-radius: 50%;
}

.indicator:nth-child(2) {
    background: #FF4C11;
}

.products {
    padding: 0 8%;
}

.category {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.category:before,
.category:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #FF4C11;
    margin: auto;
}

.category:before {
    margin-right: 10px
}

.category:after {
    margin-left: 10px
}

.cat-title {
    text-align: center;
    color: rgb(158, 156, 156);
    font-size: 16px;
}

.cat-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 4rem 0;
}

.items {
    height: 240px;
    position: relative;
}

.items>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item-info {
    position: absolute;
    z-index: 99;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0 3rem;
}

.item-info>div:first-child>p {

    color: #646464;

}

.item-info>div>button {
    border: 0;
    padding: 6px 12px;
    background: #fff;
    color: #FF4C11;
    border-radius: 1.5rem;
    font-weight: bold;

}

.banner {
    margin: 2rem 0;
    position: relative;
}

.banner>img {
    width: 100%;
    object-fit: cover;
}

.banner-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
    text-align: center;
}

.banner-child>div>button {
    border: 0;
    background: #FF4C11;
    padding: 12px 20px;
    border-radius: 2rem;
    color: #fff;
    font-weight: bold;
    margin: 2rem 0;
}

.banner-child h1 {
    font-size: 36px;
}

.banner-child p {
    margin-top: 1rem;
    font-size: 20px;
    color: #646464;
}

.goal {
    padding: 2rem 8%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.left-goal {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.left-goal>div:first-child {
    display: flex;
    align-items: center;
}

hr {
    margin: auto;
    border: 0;
    border-bottom: 1px solid #FF4C11;
    width: 50%;
    height: 0;
}

.left-goal p {
    width: 85%;
    line-height: 2rem;
    color: #727171;
}

.left-goal button {
    border: none;
    background: #FF4C11;
    padding: 12px 18px;
    border-radius: 2rem;
    color: #fff;
    font-weight: bold;
}

.right-goal {
    position: relative;
}

.right-goal>div:first-child {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    overflow: hidden;

}

.right-goal>div+div {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid #fff;
    position: absolute;
    bottom: -30%;
    left: -30%;
    transform: translate(30%, -30%);
}

.right-goal img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.news-letter {
    padding: 3rem 8%;
    position: relative;
}

.news-letter img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
    width: 60%;

}

.news-box {
    border: 1px solid #ff4d1185;
    height: 3rem;
    display: flex;
    border-radius: 2rem;
    overflow: hidden;
    background: #fff;
}

.news-box>input {
    width: 100%;
    border: none;
    padding: 0 1rem;
}

.news-box>button {
    padding: 0 3rem;
    border-radius: 2rem;
    border: none;
    background: #FF4C11;
    color: #fff;
    font-weight: bold;
}

.news-child h1 {
    font-size: 42px;

}

.news-child p {
    color: #646464;
}

.footer {
    padding: 4rem 8%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.footer>div {
    /* border: 1px solid; */
}

.f-logo {
    width: 6rem;
}

.f-logo>img {
    width: 100%;
    object-fit: cover;
}

li {
    list-style: none;
    padding-left: 0;
    padding: 4px 0;
    font-size: 14px;
    color: #5a5a5a;
}

.f-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-footer {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1rem;
}

.contact-footer h4 {
    padding-left: 2.2rem;
    color: #000;
}

.contact-footer>div>div {
    display: flex;
    gap: 1rem;

}

.contact-footer {
    font-size: 14px;
    padding: .6rem;
    color: #5a5a5a;
}